@import "tailwindcss";

.bg-hero {
	background-image: url("assets/img/bghero.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

html {
	scroll-behavior: smooth;
}
